<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Moment core JavaScript -->
<script type="text/javascript" src="js/moment.min.js"></script>
<!-- Custom JavaScript -->
<script type="text/javascript" src="js/custom.js"></script>
<% if(typeof token !== 'undefined') { %>
<!-- Custom Socket JavaScript -->
<script type="text/javascript" src="js/customSocket.js"></script>
<% } %>
</body>
</html>